@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Roboto');

@font-face {
	font-family: "Lucida Grande";
	src: url("/app/assets/fonts/LucidaGrande.ttf");
}


//Screens 
$screen-xs:                   0;
$screen-sm:                   480px;
$screen-md:                   768px;
$screen-lg:                   992px;
$screen-xl:                   1200px;

//Text color 
$text-color-dark: #9B9B9B;
$text-color-light: #D8D8D8;
$text-color-light--grey: #C4C6C7;

//Colors
$ta-color-warning: #FBC318;
$ta-color-primary: #002F76;