@import url('https://fonts.googleapis.com/css?family=Open+Sans');




//Screens 
$screen-xs:                   0;
$screen-sm:                   480px;
$screen-md:                   768px;
$screen-lg:                   992px;
$screen-xl:                   1200px;

//Text color 
$text-color-dark: #9B9B9B;
$text-color-light: #D8D8D8;

//Colors
$ta-color-warning: #FBC318;