@import '../scss/variables';
.ta-flights {
    display: block;
    padding: 40px 40px 0 0;
    &__title {
        text-align: right;
        font-size: 30px;
        font-weight: 600;
        margin-bottom: 20px;
        font-family: "Lucida Grande", Arial, Helvetica, sans-serif;
    }
}

.ta-tables {
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.table-header {
    height: 45px;
    line-height: 45px;
    &__button {
        height: 100%;
        width: 162px;
        text-align: center;
        font-size: 14px;
        font-weight: 600;
        float: right;
        cursor: pointer;
    }
    &__pessangers {
        font-family: "Lucida Grande", Arial, Helvetica, sans-serif;
        font-size: 14px;
        color: $text-color-dark;
        float: right;
        & div {
            display: inline-block;
        }
    }
    &__button--filter {
        width: 45px;
    }
}

.ta-tax-block {
    height: 84px;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    padding: 10px 46px;
    border-radius: 4px;
    margin-right: 20px;
}

.ta-total-block {
    height: 104px;
    width: 60%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    border-radius: 4px;

    &__title {
        height: 50px;
        padding: 0 14px;
        border-bottom: 1px solid grey;
        display: flex;
        justify-content: space-between;
        line-height: 40px;
    }
    &__price {
        display: flex;
        justify-content: space-around;
        height: 53px;
        align-items: center;
    }
}

.ta-bottom-block {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}