<table st-table="$ctrl.flights" class="table table-striped">
	<thead>
		<tr ng-show="$ctrl.flights">
			<th>
				<input st-search="number_internal" placeholder="search for firstname" class="input-sm form-control" type="search" />
			</th>
			<th>
				<input st-search="airline" placeholder="search for firstname" class="input-sm form-control" type="search" />
			</th>
			<th>

			</th>
			<th>
				<datepicker date-format="yyyy-MM-dd">
					<input st-search="flight_time" ng-model="flight_time" type="text" />
				</datepicker>
			</th>
			<th>
				<input st-search="number_internal" placeholder="search for firstname" class="input-sm form-control" type="search" />
			</th>
			<th>
				<input st-search="airline" placeholder="search for firstname" class="input-sm form-control" type="search" />
			</th>
			<th>
				<input st-search="airline" placeholder="search for firstname" class="input-sm form-control" type="search" />
			</th>
		</tr>
		<tr>
			<th>number_internal</th>
			<th>airline</th>
			<th>From - to</th>
			<th>Date</th>
			<th>number</th>
			<th>Time</th>
			<th>price_gross</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="flight in $ctrl.flights">
			<td>{{flight.number_internal}}</td>
			<td>{{flight.airline}}</td>
			<td>{{flight.origin_airport}} - {{ flight.destination_airport }}</td>
			<td>{{ flight.flight_time | date: 'shortDate' }}</td>
			<td>{{ flight.number }}</td>
			<td>{{ flight.flight_time | date: 'HH:mm' }}</td>
			<td>{{ flight.price_gross }}</td>
		</tr>
	</tbody>
</table>