<table st-table="$ctrl.flights" class="ta-table">
	<thead>
		
		<tr>
			<th class="ta-checkbox-column"></th>
			<th class="ta-number-column">קוד טיסה</th><!-- Flight code -->
			<th>מוצא</th><!-- From -->
			<th>יעד</th><!--target-->
			<th>תאריך</th><!--date-->
			<th>מס טיסה</th><!--Flight tax-->
			<th>שעה</th><!--Time-->
			<th>יום</th><!--Day-->
			<th>חברת תעופה</th><!--Airline-->
			<th>מחיר באתר</th><!--online price-->
		</tr>
	</thead>
	<tbody>
		<tr ng-class="{'ta-chacked': checkbox[id]}" ng-repeat="flight in $ctrl.flights">
			<td class="ta-checkbox-column">
				<input type="checkbox" ng-model="checkbox[id]" ng-change="$ctrl.checkFlight(flight)">
			</td>
			<td class="ta-number-column">{{flight.number_internal}}</td>
			<td>{{flight.origin_airport}}</td>
			<td>{{ flight.destination_airport }}</td>
			<td>{{ flight.flight_time | dateOnly}}</td>
			<td>{{ flight.fuel_tax }}</td>
			<td>{{ flight.flight_time | timeOnly }}</td>
			<td>{{ flight.flight_time | day }}</td>
			<td>{{ flight.airline }}</td>
			<td>{{ flight.price_gross }}$</td>
		</tr>
	</tbody>
</table>