@import '../../scss/variables';
@import '../../scss/mixin';
.ta-table {
    width: 100%;
    border-collapse: collapse;
    font-size: 12px;
    border-bottom-left-radius: 4px;
    overflow: hidden;
    border-bottom-right-radius: 4px;
    thead tr,
    tbody {
        display: block;
    }
    tbody {
        max-height: 176px;
        overflow-x: hidden;
        overflow-y: auto;
        &::-webkit-scrollbar {
            width: 14px;
        }
        &::-webkit-scrollbar-thumb {
            background-color: darkgrey;
            outline: 1px solid slategrey;
            border-radius: 10px;
        }
    }
    .ta-chacked>td {
        color: #000000;
    }
    tr:nth-of-type(odd) {
        background-color: #F8F8F8;
    }
    td,
    th {
        padding: 0 6px;
        border: 1px solid #E9E9E9;
        border-top: none;
        border-bottom: none;
        text-align: center;
        font-family: "Lucida Grande", Arial, Helvetica, sans-serif;
        color: #9B9B9B;
        width: 100%;
        white-space: nowrap;
    }
    td {
        height: 42px;
        text-overflow: ellipsis;
    }
    th {
        height: 34px;
        background-color: #C4C6C7;
        color: white;
        font-weight: bold;
        border: none;
    }
    .ta-checkbox-column {
        @include fixed-width(24px);
    }
    .ta-number-column {
        @include fixed-width(45px);
    }

    &__l-ckeckbox {
        display: table-cell;
    }
}