<!doctype html>
<html ng-app="ta" ng-strict-di>

<head>
  <meta charset="utf-8">
  <title>
    <%= htmlWebpackPlugin.options.title %>
  </title>
  <meta name="description" content="">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
  <meta name="robots" content="noindex">
</head>

<body ng-cloak>
  <sidebar-left class="ta-sidebar ta-sidebar--left"></sidebar-left>
  <div id="app-wrapper">
      <div ui-view></div>
      <footer class="ta-footer">
          <div class="ta-footer__or">
              המחירים כוללים טיסות ונסיעות פנים לאומן | השעות עלולות להשתנות | לא יוגשו ארוחות בטיסות | החברה רשאית להפסיק את המבצעים ללא הודעה מראש | טל"ח
          </div>
          <div class="ta-footer__address">
              מוקד אירופנים: 02-800-80-80 | משרדנו: רחוב עמוס 1 ירושלים | כתובת מייל office@europnim.co.il
          </div>
          <div class="ta-footer__social">
            <a href="">
              <img src="" alt="Top agent">
            </a>
          </div>
      </footer>
  </div>
  <sidebar-right class="ta-sidebar ta-sidebar--right"></sidebar-right>
</body>

</html>